.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide/*
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
rms_dir/scan_docs/*
rms_dir/temp/*
rms_dir/*
!rms_dir/repo
!rms_dir/repo/*
rms_dir/repo/registration/*
!rms_dir/repo/registration/.gitkeep
rms_dir/repo/rerfo/*
!rms_dir/repo/rerfo/.gitkeep
TODO.txt
assets.tar
assets/js/voucher_list.js
cleanrms.sql
rms-clone.tgz

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
application/config/constants.php
